<!-- Tag Management Modal - uses shared tag_editor_panel -->
<link href="{{ url_for('static', filename='css/components/tag-manager.css') }}" rel="stylesheet" />
<div
    class="modal fade"
    id="tagEditorModal"
    tabindex="-1"
    aria-labelledby="tagEditorModalLabel"
    aria-hidden="true"
    data-bs-backdrop="true"
    data-bs-keyboard="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tagEditorModalLabel"><i class="fas fa-tags me-2"></i>Manage Tags</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"> {% include 'components/tag_editor_panel.html' %} </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
