{# Address Autocomplete Component #}
<div class="mb-3">
    <label for="address-autocomplete" class="form-label">Search Address</label>
    <div class="input-group">
        <input type="text"
               class="form-control"
               id="address-autocomplete"
               placeholder="Start typing an address..."
               autocomplete="off">
        <button class="btn btn-outline-secondary"
                type="button"
                id="update-address-btn"
                disabled>
            <i class="fas fa-check"></i> Use This Address
        </button>
    </div>
    {# Suggestions dropdown #}
    <div id="address-suggestions" class="mt-2"></div>
    {# Validation/Status indicator #}
    <div id="address-valid-indicator" class="mt-2 small"></div>
</div>
{# Hidden form fields that will be populated #}
<input type="hidden" id="address_line1" name="address_line1">
<input type="hidden" id="address_line2" name="address_line2">
<input type="hidden" id="city" name="city">
<input type="hidden" id="state" name="state">
<input type="hidden" id="postal_code" name="postal_code">
<input type="hidden" id="country" name="country">
{# Include the JavaScript #}
<script src="{{ url_for('static', filename='js/pages/restaurant-address-autocomplete.js') }}"></script>
