# Backend configuration for dev environment
bucket         = "meal-expense-tracker-tfstate-${AWS_ACCOUNT_ID}"
key            = "dev/terraform.tfstate"
region         = "${AWS_REGION}"
dynamodb_table = "meal-expense-tracker-tflock"
use_lockfile   = true
encrypt        = true
